* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav {
  background-color: #c858e790;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}


a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

a:hover {
  color: #e74c3c;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e74c3c;
  bottom: 0;
  left: 0;
}
.logout_btn {
  background-color: #938e8e;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fa1b02;

}
  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      margin: 10px 0;
    }
}