* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-detail-container {
    width: 350px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    font-size: 1rem;
}

.timestamp {
    font-size: 0.85rem;
    color: grey;
}

.post_image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.post-content {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

.social_actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social_actions .like,
.dislike,
.comment {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.social_actions .like_btn,.social_actions .dislike_btn,.social_actions .comment_btn {
    margin-right: 5px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-input {
    padding: 10px;
    margin-bottom: 10px;
}

.submit-comment-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

.comment-section {
    margin-top: 20px;
    background-color: rgb(199, 193, 193);
    padding: 10px;
    border-radius: 10px;
}

.comment-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.comment-item .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.comment-item p {
    margin: 0;
    font-size: 0.9rem;
}

.timestamp {
    font-size: 0.8rem;
    color: grey;
}
.back_button>.back-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
}