.profile {
    background: linear-gradient(135deg, #7bb4e9, #508ad4);
    background-size: cover;
    color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(67, 63, 63, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 20px;
    margin-left: 380px;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    letter-spacing: 1px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-info {
    text-align: center;
}

.profile-username {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.profile-email {
    font-size: 1.1rem;
    color: #ddd;
    margin-bottom: 15px;
}

.profile-bio {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
    max-width: 500px;
    margin: 0 auto;
    text-transform: capitalize;
}

.profile-bio::before {
    content: "📜 ";
    margin-right: 5px;
}

.profile h3,
.profile h4,
.profile h2,
.profile p {
    transition: transform 0.3s ease, color 0.3s ease;
}

.profile h3:hover,
.profile h4:hover,
.profile h2:hover,
.profile p:hover {
    transform: scale(1.05);
    color: #a803f4;
}

@media (max-width: 768px) {
    .profile {
        padding: 20px;
    }

    .profile-header {
        flex-direction: column;
    }

    .profile-img {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: 1.5rem;
    }
}